.nature {
    &__top {
        display: flex;
        justify-content: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 12rem;
        max-width: 666px;
        text-align: center;
    }
    &__title {
        margin-bottom: 2.2rem;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4.2rem
    }
    &__description {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 2.6rem;
    }
}