include ../components/button
section.choose
    .choose__top
    .choose__content.container
        h2.choose__title Seasons Change. Your Shoes Don’t Have To.
        p.choose__description Soft and cozy wool shoes to keep you comfortable all year round.
        .choose__buttons 
            +button('#','SHOP MEN','black')
            +button('#','SHOP WOMEN','black')

