include ../components/button.pug

section.climat 
        .climat__top
            img(src="./img/climat__bg.jpg", alt="")
        .climat__content.container 
            h2.climat__title Reversing Climate Change Through Better Business
            p.climat__description Reducing our environmental impact has been a top priority since day one. But now, we’re taking things further. Explore our overall sustainability approach, our progress thus far, and our bold list of commitments for 2025.
            +button('#','Our Sustainable Practices','black')
