include ../components/button

section.hero 
    .hero__content.container 
        h1.hero__title The Trail Runner SWT Is Here.
        p.hero__subtitle Durable. Comfortable. Ready to get dirty.
        .hero__buttons
            +button('#','Shop Men','white')
            +button('#','Shop Men','white')
            


